.starLink {
    color: #666;
}

.starLink:hover {
    text-decoration: none;
}

.star {
    margin-right: .375rem;
    font-size: .8rem;
}

.githubProfile,
.githubProfileDark {
    border: 2px solid black;
    border-radius: 5px;
    padding: .5rem;
    box-shadow: 2px 2px 0 1px #000;
}

.githubProfileDark {
    background: rgb(3, 3, 3);
    border: 1px solid #111;
    box-shadow: 2px 2px 0 1px #111;
}

.githubProfileDark a {
    color: #fff;
}